<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <title>FOOD STUFF</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body class="main-back">
    <div class="title-card">
      <span style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif" class="title-back, center" id="main-title">FOOD</h1>
    </div>
  </body>
  <div class="bg">
    <div class="card" id="c-color">
      <img class="card-img" src="" alt="" />
      <div class="container">
        <h4 class="Title"><b>Title</b></h4>
        <p class="card-desc">desc</p>
      </div>
    </div>
  </div>