<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Poorly Made Recipe Site</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" type="images/x-icon" href="../static/imgs/funnylogo.png" />
  </head>
  <body>
    <div class="navbar">
     
     <a href="/" class="a">
        <img class="moai" width=90%" src="../static/imgs/funnylogo.png">
      </a>
      {% for id in random.recipes %}
      <a class="random" href="/recipeinfo/{{id.id}}">
        <h2>Random Recipe</h2>
      </a>
      {% endfor %}
      
        <form method="post">
        <label style="font-size: larger;" for="title">Search</label>
        <input class="input"
          name="title"
          id="title"
          value="{{ request.form['title'] }}"
          required
        />
        <input class="button1" type="submit" value="Save" />
      </form>
    </div>
    <h1 class="title1">Welcom to Bad Recipe Site</h1>
    <h2 class="desc1">Get started with some random recipes below</h2>
    <div class='flex-container'>
      {% for display in random2.recipes %}
      <a class="card" href="/recipeinfo/{{display.id}}">
    <h2 class="card-desc">{{display.title}}</h1>
    <img class="img" width="55%" src='{{display.image}}'>
  </a>
    {% endfor %}
    </div>
  </body>
</html>