<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{data.title}}</title>
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>
    <div class="navbar">
      <a href="/" class="a">
        <img class="moai" width=90%" src="../static/imgs/funnylogo.png">
      </a>
      <form>
        <input type="button" class="button1" value="Back" onclick='history.back()'>
      </form>
    </div>
    <h3>{{data.id}}</h3>
    <h1>{{data.message}}</h1>
  </body>
</html>